<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link href="//cdn.bootcss.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>

<div class="row">
    <div class="col-lg-6">
    </div><!-- /.col-lg-6 -->
    <div class="col-lg-6">
        <div class="input-group">
            <input id="input" type="text"  class="form-control"  >
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" onclick="channelSend($('input').val())">Go!</button>
      </span>
        </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
</div><!-- /.row -->

</body>
<script src="//cdn.bootcss.com/jquery/2.2.0/jquery.min.js"></script>
<script src="//cdn.bootcss.com/socket.io/1.4.5/socket.io.js"></script>
<script src="//cdn.bootcss.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js"></script>

<script src="/javascripts/main.v2.js"></script>
</html>
